__pycache__/
/.vscode/
/.pytest_cache/
/prof/
/build/
/Princess.egg-info/
/princess2/bin/
/princess2/build/**/*
!/princess2/build/**/*.c
/princess2/cstdlib/header.ll
/princess2/cstdlib/header.json
/princess2/cstdlib/header.pickle
*.gcda
*.gcno
