/.vscode/
/build/
/bin/*
!/bin/LICENSE
!/bin/*.dll
!/bin/*.lib
/tmp/
/include/windows/*.json
/include/linux/*.json
/include/macos/*.json
*.prc
*.ll
.vs/
/*.pr
/test/*
!/test/runtime
/test/runtime/*
!/test/runtime/*.pr
!/test/*.pr
*.exe
a.out
__pycache__
.princess
