/.vscode/
/build/
/bin/*
!/bin/LICENSE
!/bin/*.dll
!/bin/*.lib
/tmp/
/include/windows/*.json
/include/linux/*.json
*.prc
*.ll
.vs/
/*.pr
/test/*.so
/test/*.dll
/test/*.lib
/test/*.exp
*.exe
a.out
__pycache__
