name: Built & Test on Ubuntu
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Add Toolchain PPA
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test
      - name: Add debian repository
        uses: myci-actions/add-deb-repo@10
        with:
          repo: deb http://apt.llvm.org/focal/ llvm-toolchain-focal-13 main
          repo-name: llvm-toolchain
          keys-asc: https://apt.llvm.org/llvm-snapshot.gpg.key
          update: true
          install: clang-13 llvm-13
      - name: Python 3.9 Time
        uses: actions/setup-python@v3.1.2
      - name: Install requirements
        run: |
          sudo python3.9 -m pip install tatsu requests
        with:
          python-version: '3.9'
      - name: Checkout
        uses: actions/checkout@v3
      - name: Do the thing
        run: |
          python3.9 travis.py
